// Fonts
$body-font-family = Lato, sans-serif

$sp = {
  "pink": #D1447A,
  "red": #D21E1E
}

$colors = {
  "sp": $sp,
  "red": $red,
  "pink": $pink,
  "purple": $purple,
  "deep-purple": $deep-purple,
  "indigo": $indigo,
  "blue": $blue,
  "light-blue": $light-blue,
  "cyan": $cyan,
  "teal": $teal,
  "green": $green,
  "light-green": $light-green,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "orange": $orange,
  "deep-orange": $deep-orange,
  "brown": $brown,
  "blue-grey": $blue-grey,
  "grey": $grey,
  "shades": $shades
}

// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition
